html {
    font-size: 10px;
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    margin: 0;
    padding: 10rem 0;
    width: 100vw;
}

span {
    margin: .8rem 0;
    text-align: center;
    transition: .5s;
}

.container {
    width: 100%;
}

.intro {
    width: calc(100% - 6rem);
    height: 20rem;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.2rem;
    font-weight: 300;
    flex-direction: column;
    background-color: #cccccc44;
    padding: 0 3rem;
}

.name {
    font-weight: 700;
    color: #000;
}

.cv {
    font-weight: 700;
    color: #fff;
    background-color: #545ff3;
    border-radius: .4rem;
    border: 0;
    font-size: 2rem;
}

.cv:hover {
    cursor: pointer;
    transition: .3s;
    color: #fff;
    background-color: #2a3199;
}

.cv:active {
    background-color: #fff;
}

.cv:focus {
    outline: 0;
}

.table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.4rem;
    margin-top: 2rem;
}

.table tbody {
    padding-right: 0.5rem;
}

tr {
    height: 2.2rem;
}

.link {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.download {
    text-decoration: none;
    color: #fff;
    margin-right: .1rem;
}

.profile-image {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 0 2rem;
}

.link:hover {
    color: #545ff3;
    cursor: pointer;
    transition: .2s;
}

@media screen and (max-width: 635px) {
    html {
        font-size: 8px;
    }

    .intro {
        background-color: transparent;
    }

    .table {
        font-size: 1.6rem;
    }
}